<h2 class="border-bottom mb-2">Template: Dinámicos</h2>
<form #miFormulario="ngForm" autocomplete="off">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="persona.nombre" name="nombre" class="form-control" id="nombre" required>
        <div class="form-text text-danger"
            *ngIf="miFormulario.controls['nombre']?.invalid && miFormulario.controls['nombre']?.touched">
            Este campo es obligatorio
        </div>
    </div>
    <div class="mb-3">
        <label for="juego-favorito" class="form-label">Juego favorito</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="juego-favorito" name="juego-favorito" [(ngModel)]="nuevoJuego"
                (keyup.enter)="agregarJuego()">
            <button type="button" class="btn btn-outline-secondary" (click)="agregarJuego()">Agregar</button>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="favoritos" class="col-sm-2 col-form-label">Favoritos</label>
        <div class="input-group mb-3 col-sm-10" *ngFor="let juego of persona.favoritos; let i = index;">
            <input type="text" class="form-control" [(ngModel)]="juego.nombre" name="juego_{{ i }}"
                aria-label="favoritos" required>
            <button type="button" class="btn btn-danger" (click)="eliminar(i)">Eliminar</button>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" (click)="guardar()" [disabled]="miFormulario.invalid" class="btn btn-primary">
            Guardar
        </button>
    </div>
</form>

<strong>Persona</strong>
<pre>{{ persona | json }}</pre>