<h2 class="border-bottom mb-2">Template: Básicos</h2>
<div class="row">
    <div class="col">
        <!--* #miFormulario="ngForm", le decimos que enlace el ngForm a la variable de referencia miFormulario -->
        <form (ngSubmit)="guardar(miFormulario)" #miFormulario="ngForm" autocomplete="off">
            <div class="mb-3">
                <label for="producto" class="form-label">Producto</label>
                <input type="text" ngModel name="producto" class="form-control" id="producto" required>
                <div class="form-text text-danger">Debe de ser de 3 letras</div>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" ngModel name="precio" class="form-control" id="precio">
            </div>
            <div class="mb-3">
                <label for="existencias" class="form-label">Existencias</label>
                <input type="number" ngModel name="existencias" class="form-control" id="existencias">
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <strong>Valid</strong>
        <pre>{{ miFormulario.valid }}</pre>

        <strong>Value</strong>
        <pre>{{ miFormulario.value | json }}</pre>
    </div>
</div>