<h2 class="border-bottom mb-2">Reactivos: Dinámicos</h2>
<form [formGroup]="miFormulario" autocomplete="off">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
        <div *ngIf="isFieldInvalid('nombre')" class="form-text text-danger">
            Este campo es obligatorio
        </div>
    </div>
    <div class="mb-3">
        <label for="juego-favorito" class="form-label">Juego favorito</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="juego-favorito" [formControl]="nuevoFavorito" (keyup.enter)="agregarFavorito()">
            <button type="button" class="btn btn-outline-secondary" (click)="agregarFavorito()">Agregar</button>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="favoritos" class="col-sm-2 col-form-label">Favoritos</label>
        <div formArrayName="favoritos">

            <div *ngFor="let favorito of favoritosArray.controls; let i = index;" class="input-group mb-3 col-sm-10">
                <input type="text" [formControlName]="i" class="form-control" aria-label="favoritos">
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" (click)="guardar()" class="btn btn-primary">
            Guardar
        </button>
    </div>
</form>

<strong>Valid</strong>
<pre>{{ miFormulario.valid }}</pre>
<br>
<strong>Value</strong>
<pre>{{ miFormulario.value | json }}</pre>

<strong>Nuevo Favorito</strong>
<pre>{{ nuevoFavorito.value }}</pre>
<pre>{{ nuevoFavorito.valid }}</pre>