<h2 class="my-4 border-bottom">Validaciones Reactivas</h2>

<div class="card">
    <div class="card-body">
        <form [formGroup]="miFormulario" (ngSubmit)="submitFormulario()" autocomplete="off">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                <div *ngIf="campoInvalido('nombre')" class="form-text text-danger">Debe ser en formado de nombre y apellido</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <div *ngIf="campoInvalido('email')" class="form-text text-danger">{{ emailErrorMsg }}</div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <div *ngIf="campoInvalido('username')" class="form-text text-danger">
                    El username no puede ser strider
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div *ngIf="campoInvalido('password')" class="form-text text-danger">
                    La contraseña debe ser mayor de 6 caracteres
                </div>
            </div>
            <div class="mb-3">
                <label for="password-confirm" class="form-label">Confirmar Password</label>
                <input type="password" class="form-control" id="password-confirm" formControlName="password-confirm">
                <div *ngIf="campoInvalido('password-confirm')" class="form-text text-danger">
                    Las contraseñas deben ser iguales
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" [disabled]="miFormulario.pending" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>

<br>
<pre><strong>FormValid</strong>: {{ miFormulario.valid }}</pre>
<pre><strong>Form Status</strong>: {{ miFormulario.status }}</pre>
<pre><strong>Form Pending</strong>: {{ miFormulario.pending }}</pre>
<pre><strong>Form errors</strong>: {{ miFormulario.errors | json }}</pre>
<hr>

<strong>Nombre</strong>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>
<strong>Email</strong>
<pre>{{ miFormulario.controls['email'].errors | json }}</pre>
<strong>Username</strong>
<pre>{{ miFormulario.controls['username'].errors | json }}</pre>
<strong>Password</strong>
<pre>{{ miFormulario.controls['password'].errors | json }}</pre>
<strong>Password confirm</strong>
<pre>{{ miFormulario.controls['password-confirm'].errors | json }}</pre>